
@page "/testitem/{testItemId:int?}"
@page "/testitem/test/{testId:int}"
@inject LearningQA.Client.ViewModel.TestItemViewModelPersist TestItemViewModelPersist


<div class="bg-color-6 color-6">
    <div class="test-item__container bg-color-7 color-2">
        <header class="test-item__container_header current__theme-bg-image--5-9"><div>Header</div></header>
        <div class="test-item__container_aside-header current__theme-bg-image">
            <div>Questions</div>
        </div>
        @if (TestItemViewModelPersist != null)
        {
            <EditForm class="test-item__container_selection" Model="TestItemViewModelPersist">
                <LearningQA.Client.Components.TestItemSelects TestItemViewModelPersist="TestItemViewModelPersist" OnLoadCommand="testItemViewModel.OnLoadCommand" ButtonTitle="New Test">

                </LearningQA.Client.Components.TestItemSelects>

            </EditForm>

        }
        else
        {
            <div>
                Inititalzed In Process
            </div>
        }
        @if (TestItemViewModelPersist.CurrentTest != null && TestItemViewModelPersist.SelectedQuestion != null && TestItemViewModelPersist.SelectedQuestion.Options != null)
        {

            <div class="test-item__container_question bg-color-8 color-2">
                @if (TestItemViewModelPersist.SelectedQuestion != null)
                {
                    <h4>Question: @TestItemViewModelPersist.SelectedQuestion.QuestionNumber</h4>
                    <p>@((MarkupString)TestItemViewModelPersist.SelectedQuestion.Question)</p>
                }
            </div>
            <div class="test-item__container_option bg-color-9 color-2">
                <ul>

                    @foreach (var i in TestItemViewModelPersist.SelectedQuestion.Options.OrderBy(x => x.TenantId))
                    {
                        <li>
                            <div class="form-check form-switch ">
                                @if (!IsTestMode)
                                {
                                    <input class="form-check-input bg-color-2" type="checkbox" checked="@i.IsTrue" disabled id="question-option-2" @onchange="EventArgs => { TestItemViewModelPersist.OnOptionChanged(i, EventArgs.Value); }">
                                }
                                
                                else if (TestItemViewModelPersist.ExamState != ExamState.ExamStart)
                                {
                                    <input class="form-check-input bg-color-2" type="checkbox" disabled checked="@IsOptionChecked(TestItemViewModelPersist.SelectedQuestion, i.TenantId)" id="question-option-2" @onchange="EventArgs => { TestItemViewModelPersist.OnOptionChanged(i, EventArgs.Value); }">
                                }
                                else
                                {
                                    <input class="form-check-input bg-color-2" type="checkbox" checked="@IsOptionChecked(TestItemViewModelPersist.SelectedQuestion, i.TenantId)" id="question-option-2" @onchange="EventArgs => { TestItemViewModelPersist.OnOptionChanged(i, EventArgs.Value); }">
                                }
                            </div>
                            <p>@((MarkupString)i.Content)</p>
                        </li>
                    }

                </ul>
            </div>
            <div class="test-item__container_nav">
                <button class=@($"nav-1 bg-color-7 color-2 {(TestItemViewModelPersist.EnablePreviouse ? "" : "disabled")}") @onclick="TestItemViewModelPersist.OnPrevious">Previous</button>
                <div class="nav-2">Q</div>
                <input type="number" max=@(TestItemViewModelPersist.CurrentTest.Answers.Count) min="1" class="nav-3 bg-color-7 color-2" value=@(TestItemViewModelPersist.CurrentQuestion) @onchange="ChangeEventArgs => { TestItemViewModelPersist.OnChangeQuestionNumber(ChangeEventArgs); }">
                <!-- <div class="nav-4"></div> -->
                <button class=@($"nav-5 bg-color-7 color-2 {(TestItemViewModelPersist.EnableNext ? "" : "disabled")}" ) @onclick="TestItemViewModelPersist.OnNext">Next</button>
                <!-- <div style="width: 2px;"></div> -->
                @if (TestItemViewModelPersist.ExamState == ExamState.ExamCreate)
                {
                    <button class=" bg-color-7 color-2 nav-7" @onclick="testItemViewModel.OnStartTest">Start Test</button>
                }
                else if (TestItemViewModelPersist.ExamState == ExamState.ExamStart)
                {
                    <button class=" bg-color-7 color-2 nav-7" @onclick="testItemViewModel.OnFinishTest">Finish</button>
                }
                else if (TestItemViewModelPersist.ExamState == ExamState.ExamFinished)
                {
                    <button class=" bg-color-7 color-2 nav-7" @onclick="testItemViewModel.OnCheckTest">Check</button>
                }
                else if (TestItemViewModelPersist.ExamState == ExamState.ExamResultReady)
                {
                    <button class=" bg-color-7 color-2 nav-7" @onclick="testItemViewModel.OnSaveCurrentExam">Save</button>
                }
                
            </div>

            <aside class="test-item__container_aside bg-color-5 color-2">

                <button type="button" class="bg-color3 color-8" style="width:100%" @onclick="OnMarkCurrentQuestion">Mark</button>
                <div class="question-list color-5 bg-color-2">
                    <ul>
                        @if (IsTestMode && TestItemViewModelPersist.ExamState >= ExamState.ExamCreate)
                        {
                            @foreach (var answer in TestItemViewModelPersist.CurrentTest.Answers)
                            {
                                <li class="question-list_item">
                                    <div class=@($"legend-icon{(answer.IsAnswered ? "_answered" : "")}")></div>
                                    @*<div class=@($"legend-icon{(answer.IsMarked ? "_marked" : "")}")></div>*@
                                    <div class=@($"{(answer.IsCorrect ? "bg-color-10" : "")}")>@answer.QUestionSql.QuestionNumber</div>
                                    <div class=@($"legend-icon{(answer.IsMarked ? "_marked" : "")}")></div>
                                    @if (answer.IsSelected)
                                    {
                                        <input type="checkbox" title="Remove From Current Test" checked @onchange="ChangeEventArgs => { TestItemViewModelPersist.OnQuestionIsSelected(answer.QUestionSql.Id, ChangeEventArgs); }" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" title="Remove From Current Test" @onchange="ChangeEventArgs => { TestItemViewModelPersist.OnQuestionIsSelected(answer.QUestionSql.Id, ChangeEventArgs); }" />
                                    }

                                </li>
                            }
                        }
                        else
                        {
                            @foreach (var answer in TestItemViewModelPersist.CurrentTest.Answers)
                            {
                                <li class="question-list_item">
                                    <div class=@($"legend-icon{(answer.IsAnswered ? "_answered" : (answer.IsMarked ? "_marked" : ""))}")></div>
                                    <div>@answer.QUestionSql.QuestionNumber</div>
                                    <div class=@($"legend-icon{(answer.IsMarked ? "_marked" : "")}")></div>
                                    @if (answer.IsSelected)
                                    {
                                        <input type="checkbox" title="Remove From Current Test" checked @onchange="ChangeEventArgs => { TestItemViewModelPersist.OnQuestionIsSelected(answer.QUestionSql.Id, ChangeEventArgs); }" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" title="Remove From Current Test" @onchange="ChangeEventArgs => { TestItemViewModelPersist.OnQuestionIsSelected(answer.QUestionSql.Id, ChangeEventArgs); }" />
                                    }

                                </li>
                            }
                        }


                    </ul>
                </div>

            </aside>
            <div class="test-item__container_answer">
                <p class=@($"{(answereExpend ? "" : "visually-hidden")}") id="answer">
                    <ul>
                        @if (TestItemViewModelPersist.SelectedQuestion != null)
                        {
                            foreach (var answerOption in TestItemViewModelPersist.SelectedQuestion.Options.Where(x => x.IsTrue))
                            {
                                <li>
                                    @($"{answerOption.TenantId} , {answerOption.IsTrue}")
                                </li>
                            }
                        }
                    </ul>

                </p>
            </div>

        }
        <div class=@($"test-item__container_supplement {(supplementExpand ? "" : "expande")} bg-color-9 color-2")>
            <div id="container_supplement" class=@($"{(supplementExpand ? "toggle" : "toggle active")}") @onclick="OnSupplementExpandToggle">

            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolore nostrum laboriosam quo maxime, repellat possimus commodi vitae ratione dignissimos reprehenderit accusantium harum cumque maiores dolorem ut placeat accusamus ab sint. Modi consequatur natus dolores, ratione harum saepe a eos! Eaque eum, accusamus ipsum odio molestias ea maiores quis pariatur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A reiciendis modi nobis quae blanditiis commodi rem dicta, laudantium ab quaerat est illo accusamus assumenda sunt delectus, in porro nisi doloremque voluptates voluptatum animi! Provident eligendi nulla quae placeat dolorum voluptates, tenetur doloribus illum possimus ratione enim porro obcaecati ipsum. Accusantium assumenda sunt veritatis, blanditiis laborum consequatur alias optio, iure debitis sequi possimus atque dolor culpa voluptatum eum quae quas quibusdam totam beatae in? Ea ut fugit similique rerum, sint ab nisi, doloribus molestias vero animi hic, maxime provident odit! Ut, praesentium. Molestiae, illo rerum. Reiciendis doloribus voluptatem quaerat maxime vero.</p>
        </div>
        <div class="test-item__container_aside-summary bg-color-6 color-2">
            @if (IsTestMode && TestItemViewModelPersist.CurrentTest.Answers != null && TestItemViewModelPersist.ExamState >= ExamState.ExamCreate)
            {

                <div>Answered</div>
                <div>@(TestItemViewModelPersist.CurrentTest.Answers.Where(x => x.IsAnswered).Count())</div>
                <div>Wrong</div>
                <div>@(TestItemViewModelPersist.CurrentTest.Answers.Where(x => !x.IsCorrect).Count())</div>

                <div>Remained</div>
                <div>@(TestItemViewModelPersist.CurrentTest.Answers.Count() - TestItemViewModelPersist.CurrentTest.Answers.Where(x => x.IsAnswered).Count())</div>
                <div>Mark</div>
                <div>@TestItemViewModelPersist.CurrentTest?.Mark</div>
            }
            else
            {

            }


        </div>


        <div class="test-item__container_answer-expend bg-color-7 color-2">

            <div id="show-answer" class=@($"{(answereExpend ? "toggle active" : "toggle")}") @onclick="OnAnswerExpandToggle"></div>
            <div>Show / Hide</div>
        </div>


        <div class="test-item__container_aside-header current__theme-bg-image">
            <h6>Questions</h6>
        </div>



        <div class="test-item__container_aside-legend">

            <div class="legend-icon_answered"></div>
            <div>Answered</div>
            <div class="legend-icon_wrong"></div>
            <div>Wrong</div>
            <div class="legend-icon_marked"></div>
            <div>Marked</div>
        </div>
        @*<footer class="test-item__container_footer">Footer</footer>*@
    </div>
</div>

@code {

    //*private RenderFragment<QuestionOption<int>> questionOptionChecbox = (i) =>  @<input class="form-check-input bg-color-2" type="checkbox" checked="@i.IsTrue" disabled id="question-option-2" @onchange="(EventArgs) => { OnOptionChanged(i, EventArgs); }">;*/
    private bool answereExpend { get; set; } = false;
    private bool supplementExpand { get; set; } = true;
    private bool IsTestMode { get; set; } = true;




    @*@onchange="ChangeEventArgs => { TestItemViewModelPersist.OnChangeQuestionNumber(ChangeEventArgs.Value.ToString()); }"*@
}
